Background music/AnnotatedBibliography.synctex
Comps/Sternin-CompsSchedule.pdf
Music and Cognition/scramble/demo_scramble.m
Music and Cognition/scramble/demo_scramble.png
Music and Cognition/scramble/demo_scramble_01.png
Music and Cognition/scramble/ERBFilterBank.m
Music and Cognition/scramble/ERBSpace.m
Music and Cognition/scramble/frame.m
Music and Cognition/scramble/index.html
Music and Cognition/scramble/localperm.m
Music and Cognition/scramble/MakeERBFilters.m
Music and Cognition/scramble/ola.m
Music and Cognition/scramble/scramble.jpg
Music and Cognition/scramble/shufflewins.m
Music and Cognition/scramble/speech.wav
Music and Cognition/Stimuli/HalfLife-music-long-scrambled.wav
Music and Cognition/Stimuli/Stones In Your Pockets-music-long-scrambled.wav
Music and Memory/AnnotatedBibliography.log
Music and Memory/AnnotatedBibliography.pdf
Music and Memory/AnnotatedBibliography.synctex.gz
Speech Write Up/Speech.pdf
Speech Write Up/Speech.synctex.gz
Music and Memory - Lucy/Lucy's notes/Lucy-AD ISS study proposal talk.pptx
Music and Memory - Lucy/Lucy's notes/Lucy-AD ISS Update.pptx
CBS/.Rproj.user/D242C5C9/rmd-outputs
CBS/.Rproj.user/D242C5C9/saved_source_markers
CBS/.Rproj.user/D242C5C9/console06/1C67E62D
CBS/.Rproj.user/D242C5C9/console06/INDEX001
CBS/.Rproj.user/D242C5C9/pcs/files-pane.pper
CBS/.Rproj.user/D242C5C9/pcs/source-pane.pper
CBS/.Rproj.user/D242C5C9/pcs/windowlayoutstate.pper
CBS/.Rproj.user/D242C5C9/pcs/workbench-pane.pper
CBS/.Rproj.user/D242C5C9/sources/per/t/8E1CD4BF
CBS/.Rproj.user/D242C5C9/sources/per/t/8E1CD4BF-contents
CBS/.Rproj.user/D242C5C9/viewer-cache/9F94F4B1.Rdata
CBS/.RData
CBS/.Rhistory
CBS/CBS.Rproj
Anaesthesia/Audio Stim/GreenMyEyes.mp3
Anaesthesia/Audio Stim/
CBS/Analysis/3FB8BAA0.tmp
